input:focus, textarea:focus {
    outline: none;
}
.contact-form-div {
    justify-content: center;
    text-align: center;
    display:flex;
    padding:2rem 0rem;
}
.contact-form {
    width:50%;
    padding:2rem 2rem;
    border:1px solid rgb(40, 40, 40);
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    transition: 0.2s ease all;
}
.contact-sides {
    background-color: rgb(0, 133, 242);
    color:white;
    height:auto;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    transition: 0.2s ease all;
    max-height:150px;
    display: flex;
    align-items: center;
    letter-spacing: -0.1vw;
    overflow: hidden;
    padding:0rem 2rem;
    width: 400px;
    justify-content: center;
}

.contact-sides-header {
    font-size:2.5rem;
    /* margin-bottom:2rem; */
    margin: 0;
    margin-top:0rem;
    transition: 0.2s ease all;
}
.contact-form-item {
    display: block;
    text-align: left;
    font-size: 1.5rem;
    width:100%;
}
.name-input, .email-input, .message-input {
    margin-bottom:2rem;
    border-bottom: 1px solid rgb(220,220,220) !important;
}
.name-label, .email-label, .message-label {
    margin-bottom:1rem;
}
.message-input {
    height:6rem;
    margin-bottom:4rem;
}
.contact-form-btn {
    background-color: black;
    border-radius: 25px;
    padding:0.8rem 2rem 0.8rem 1.75rem;
    color:rgb(0, 133, 242);
    border:1px solid rgb(0, 133, 242) !important;

    width: auto;
    transition: 0.2s all ease-in-out;
}

.black-bg {
    background-color: black;
    border-radius: 20px;
    color:rgb(0, 133, 242);
    padding:1rem 2rem;
}

.contact-form-btn:hover {
    transform: translateY(-1px);
    cursor: pointer;
    background-color: rgb(0, 133, 242);
    color: white;
}   
.contact-book-btn:hover {
    transform: translateY(-1px);
    cursor: pointer;
}
.contact-form-item {
    border:none;
    background:none;
}
.too {
    color:black;
}

.message-input {
    font-family: "DM Serif Display", sans-serif;
}

.contact-book-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact-book-btn {
    background: none;
    border:none;
    padding:0.8rem 0.85rem;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    box-shadow: 1px 1px 10px rgba(255, 255, 255,0.4);
    transition: 0.2s all ease-in-out;
    display: flex;
    align-items: center;
    font-weight:800;
    font-size:1.25rem;
    text-transform: uppercase;
    letter-spacing: -0.1vw;
    position:absolute;
    top:-80px;
    right:-310px;
}



.contact-book-text {
    font-size:1.7rem;
    margin-bottom:2rem;
}

.contact-info {
    margin-bottom:4rem;
}

.contact-info-item {
    cursor:pointer;
    margin-bottom:1rem;
    display: flex;
    align-items: center;
}
.name-label {
    font-weight:700;
}
.arrow-icon {
    /* margin-left:1rem; */
}


.tag-container-index {
     background-color: rgb(0, 133, 242);
     max-width: 50%;
     margin:0 auto;
     padding:1rem;
     border-radius: 5px;
     font-weight: bold;
}


  @media (max-width: 900px) {
    .contact-form-div {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact-form {
        width:100%;
        padding:2rem 2rem;
        border-radius:0px !important;
    }
    .contact-sides {
        width: 100%;
        padding-bottom:2rem;
        /* border-radius:0px !important; */
        border-radius: 0px !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
    }

    .contact-book-btn {
        top:-60px;
        right:-350px;
    }
  }

  @media (max-width: 500px) {
  
    .contact-sides {
        padding:1rem 1rem;
    }
    .contact-info {
        margin-bottom:2rem;
    }
    .contact-info-item {
        margin:0.4rem 0rem;
    }

    .contact-form {
        padding:1rem;
    }

  }